<a href="https://colab.research.google.com/github/Arinzechuks/Atmospheric_task/blob/main/ATMOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/Arinzechuks/Atmospheric_task.git
!cd Atmospheric_task
!dir

fatal: destination path 'Atmospheric_task' already exists and is not an empty directory.
Atmospheric_task  sample_data

In [35]:
import pandas as pd

xx = pd.read_csv('/content/Atmospheric_task/Atmospheric_task2.csv')    # csv files


list(xx)  # get the list of column names

['Unnamed: 0', 'Unnamed: 1', 'Temp', 'Hi', 'Low', 'Out', 'Dew', 'Wind']

In [23]:
xx

   Unnamed: 0 Unnamed: 1  Temp    Hi   Low  Out  Dew   Wind
0        Date       Time   Out  Temp  Temp  Hum  Pt.  Speed
1  01/01/2007      00:30    23  23.6    23   34  6.3    2.2
2  01/01/2007      01:00  23.1  23.1  22.7   33  5.9    2.7
3  01/01/2007      01:30  22.9  23.2  22.8   33  5.8    2.7
4  01/01/2007      02:00  22.9  23.1  22.9   33  5.8    3.1
5  01/01/2007      02:30  22.6  22.9  22.6   34  5.9    2.7
6  01/01/2007      03:00  22.7  22.7  22.5   32  5.1    2.7
7  01/01/2007      03:30  22.6  22.7  22.6   32  5.1    2.7
8  01/01/2007      04:00  22.5  22.7  22.5   32    5    2.2

In [3]:
import matplotlib.pyplot as plt

In [7]:
plt.plot(speed, Date)
plt.show()

NameError: ignored

# New section

# New section